In [9]:
import pandas as pd
from glob import glob


column_sets = []

for p in glob("data/raw/green_tripdata/*.parquet"):
    df = pd.read_parquet(p)
    print(set(df["trip_type"].unique().tolist()))  # Ensure the column exists

# # Get only unique column sets
# unique_column_sets = set(tuple(sorted(col_set)) for col_set in column_sets)
# # Sort the unique column sets for consistent output
# sorted_unique_column_sets = sorted(unique_column_sets)
# # Print the unique column sets
# for col_set in sorted_unique_column_sets:
#     print(len(col_set), col_set)

{1.0, 2.0, nan}
{nan, 2.0, 1.0}
{nan, 2.0, 1.0}
{1.0, nan, 2.0}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1, 2}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1, 2}
{1, 2}
{1, 2}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1, 2}
{1, 2}
{1, 2}
{1.0, 2.0, nan}
{1, 2}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1, 2}
{1, 2}
{1.0, 2.0, nan}
{1, 2}
{1, 2}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}
{1.0, 2.0, nan}

In [7]:
from pprint import pprint
pprint(sorted_unique_column_sets[1])

('DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'ehail_fee',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'lpep_dropoff_datetime',
 'lpep_pickup_datetime',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance',
 'trip_type')

In [1]:


PQ_PATH = "data/task1/test1"
import dask.dataframe as dd

df = dd.read_parquet(PQ_PATH)

In [2]:
df.head(10)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,airport_fee,pickup_borough,pickup_latitude,pickup_longitude,dropoff_borough,dropoff_latitude,dropoff_longitude,year
0,1,2012-01-01 00:07:56,2012-01-01 00:12:09,1,0.9,1,0,158,231,2,...,5.90,0.0,0.0,Manhattan,40.735035,-74.008987,Manhattan,40.717773,-74.007881,2012
1,1,2012-01-01 00:18:49,2012-01-01 00:30:01,1,2.3,1,0,231,164,2,...,9.50,0.0,0.0,Manhattan,40.717773,-74.007881,Manhattan,40.748573,-73.985153,2012
2,1,2012-01-01 00:31:38,2012-01-01 00:46:05,1,2.2,1,0,164,148,2,...,10.30,0.0,0.0,Manhattan,40.748573,-73.985153,Manhattan,40.718937,-73.990898,2012
3,1,2012-01-01 00:47:35,2012-01-01 00:55:57,4,0.9,1,0,148,107,2,...,6.30,0.0,0.0,Manhattan,40.718937,-73.990898,Manhattan,40.736824,-73.984055,2012
4,1,2012-01-01 00:57:08,2012-01-01 01:02:42,3,0.7,1,0,107,107,2,...,5.50,0.0,0.0,Manhattan,40.736824,-73.984055,Manhattan,40.736824,-73.984055,2012
5,1,2012-01-01 00:47:10,2012-01-01 01:06:18,1,4.7,1,0,226,239,1,...,17.90,0.0,0.0,Queens,40.737698,-73.924675,Manhattan,40.783962,-73.978630,2012
6,1,2012-01-01 00:16:42,2012-01-01 00:40:14,1,2.3,1,0,234,237,2,...,13.90,0.0,0.0,Manhattan,40.740337,-73.990456,Manhattan,40.768616,-73.965637,2012
7,1,2012-01-01 00:40:46,2012-01-01 01:03:49,1,2.2,1,0,237,68,1,...,15.90,0.0,0.0,Manhattan,40.768616,-73.965637,Manhattan,40.748428,-73.999916,2012
8,1,2012-01-01 00:10:04,2012-01-01 00:20:54,1,2.4,1,0,161,263,1,...,12.87,0.0,0.0,Manhattan,40.758026,-73.977699,Manhattan,40.778767,-73.951012,2012
9,1,2012-01-01 00:28:10,2012-01-01 00:32:50,1,1.4,1,0,237,236,1,...,8.19,0.0,0.0,Manhattan,40.768616,-73.965637,Manhattan,40.780437,-73.957008,2012

In [ ]:
# any nas anywhere
# Show a row with nas
# nas = .head(10)

In [6]:
len(df), len(df[df.isna().any(axis=1)])

(142886367, 4175405)

In [7]:
# Column names that have any nan values
cols_with_nans = df.columns[df.isna().any()].tolist()
cols_with_nans

['pickup_borough',
 'pickup_latitude',
 'pickup_longitude',
 'dropoff_borough',
 'dropoff_latitude',
 'dropoff_longitude']