In [1]:
import pandas as pd
from glob import glob
from pprint import pprint
import dask.dataframe as dd

In [9]:


column_sets = []

for p in glob("data/raw/fhvhv_tripdata/*.parquet"):
    df = dd.read_parquet(p)
    columns = set(df.columns)
    # print(p, columns)
    unique_vals = df.wav_match_flag.unique().compute()
    print(unique_vals)
    column_sets.append(columns)

# Get only unique column sets
unique_column_sets = set(tuple(sorted(col_set)) for col_set in column_sets)
# Sort the unique column sets for consistent output
sorted_unique_column_sets = sorted(unique_column_sets)
# Print the unique column sets
for col_set in sorted_unique_column_sets:
    print(len(col_set), col_set)

0    None
Name: wav_match_flag, dtype: object
0    None
Name: wav_match_flag, dtype: object
0    <NA>
1
Name: wav_match_flag, dtype: string
0    <NA>
1
2       N
3       Y
Name: wav_match_flag, dtype: string
0
1    N
2    Y
Name: wav_match_flag, dtype: string
0
1    N
2    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    Y
1    N
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
0    N
1    Y
Name: wav_match_flag, dtype: string
25 ('DOLocationID', 'PULocationID', 'access_a_ride_flag', 'airport_fee', 'base_passenger_fare', 'bcf', 'cbd_congestion_fee', 'congestion_surcharge', 'dispatching_base_num', 'driver_pay', 'dropoff_datetime', 'hvfhs_license_num', 'on_scene_datetime', 'originating_base_num', 'pickup_datetime', 'request_datetime', 'sales_tax', 'shared_match_flag', 'shared_request_flag', 'tips', 'tolls', 'trip_miles', 'trip_time', 'wav_match_flag', 'wav_request_flag')
24 ('DOLocationID', 'PULocationID', 'access_a_ride_flag', 'airport_fee', 'base_passenger_fare', 'bcf', 'congestion_surcharge', 'dispatching_base_num', 'driver_pay', 'dropoff_datetime', 'hvfhs_license_num', 'on_scene_datetime', 'originating_base_num', 'pickup_datetime', 'request_datetime', 'sales_tax', 'shared_match_flag', 'shared_request_flag', 'tips', 'tolls', 'trip_miles', 'trip_time', 'wav_match_flag', 'wav_request_flag')

In [3]:
pd.read_parquet("data/task1/yellow_tripdata/year=2001")

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,pickup_borough,pickup_latitude,pickup_longitude,dropoff_borough,dropoff_latitude,dropoff_longitude
0,2,2001-01-01 00:02:26,2001-01-01 00:04:49,1,0.360000,1,0,48,48,2,...,0.3,4.300000,0.0,0.00,Manhattan,40.762253,-73.989845,Manhattan,40.762253,-73.989845
1,2,2001-01-01 22:55:43,2001-01-02 00:05:43,1,4.670000,1,0,234,162,2,...,0.3,32.299999,0.0,0.00,Manhattan,40.740337,-73.990456,Manhattan,40.756687,-73.972359
2,2,2001-01-01 00:01:48,2001-01-01 00:15:47,1,1.350000,1,0,43,170,2,...,0.3,9.800000,0.0,0.00,Manhattan,40.782478,-73.965553,Manhattan,40.747746,-73.978493
3,2,2001-01-01 00:05:12,2001-01-01 00:09:59,1,0.620000,1,0,140,229,2,...,0.3,5.800000,0.0,0.00,Manhattan,40.765484,-73.954742,Manhattan,40.756729,-73.965149
4,2,2001-01-01 00:13:42,2001-01-01 00:22:17,1,0.800000,1,0,170,161,2,...,0.3,6.300000,0.0,0.00,Manhattan,40.747746,-73.978493,Manhattan,40.758026,-73.977699
5,2,2001-01-01 00:07:04,2001-01-01 00:07:30,1,0.110000,1,0,48,163,2,...,0.3,3.800000,0.0,0.00,Manhattan,40.762253,-73.989845,Manhattan,40.764420,-73.977570
6,2,2001-01-01 00:06:42,2001-01-01 16:53:11,1,0.920000,1,0,141,236,2,...,0.3,5.800000,0.0,0.00,Manhattan,40.766949,-73.959633,Manhattan,40.780437,-73.957008
7,2,2001-01-06 06:03:30,2001-01-06 14:08:58,1,0.000000,1,0,193,193,2,...,0.3,3.300000,0.0,0.00,Queens,40.760315,-73.941994,Queens,40.760315,-73.941994
8,2,2001-02-02 14:55:07,2001-02-02 15:07:27,1,0.000000,1,0,193,193,2,...,0.3,3.800000,0.0,0.00,Queens,40.760315,-73.941994,Queens,40.760315,-73.941994
9,2,2001-01-01 00:09:39,2001-01-01 06:39:54,1,3.220000,1,0,48,148,2,...,0.3,16.799999,2.5,0.00,Manhattan,40.762253,-73.989845,Manhattan,40.718937,-73.990898
10,2,2001-01-01 00:02:08,2001-01-01 01:00:02,1,0.430000,1,0,151,151,1,...,0.3,4.800000,0.0,0.00,Manhattan,40.797962,-73.968170,Manhattan,40.797962,-73.968170
11,2,2001-08-23 05:34:45,2001-08-23 05:57:11,1,7.080000,1,0,132,76,2,...,0.3,24.549999,0.0,1.25,Queens,40.646984,-73.786530,Brooklyn,40.660934,-73.876823
12,2,2001-01-01 00:03:14,2001-01-01 01:12:47,1,20.770000,2,0,132,230,2,...,0.3,61.849998,2.5,0.00,Queens,40.646984,-73.786530,Manhattan,40.759819,-73.984200
13,2,2001-01-01 01:23:51,2001-01-01 01:50:08,1,4.680000,1,0,230,231,2,...,0.3,24.799999,2.5,0.00,Manhattan,40.759819,-73.984200,Manhattan,40.717773,-74.007881
14,2,2001-01-01 01:52:48,2001-01-01 17:37:26,1,6.950000,1,0,231,264,1,...,0.3,29.799999,2.5,0.00,Manhattan,40.717773,-74.007881,<NA>,NaN,NaN
15,2,2001-01-01 00:27:45,2001-01-01 00:34:17,1,0.880000,1,0,48,143,2,...,0.3,10.300000,2.5,0.00,Manhattan,40.762253,-73.989845,Manhattan,40.775967,-73.987648
16,2,2001-01-01 01:02:18,2001-01-01 17:20:19,1,3.100000,1,0,237,234,1,...,0.3,18.299999,2.5,0.00,Manhattan,40.768616,-73.965637,Manhattan,40.740337,-73.990456
17,2,2001-01-01 00:06:49,2001-01-01 15:42:11,2,7.410000,1,0,161,231,1,...,1.0,46.900002,2.5,0.00,Manhattan,40.758026,-73.977699,Manhattan,40.717773,-74.007881
18,2,2001-01-01 15:18:51,2001-01-01 22:08:40,2,9.130000,1,0,246,243,1,...,1.0,43.000000,2.5,0.00,Manhattan,40.753307,-74.004013,Manhattan,40.857109,-73.932831
19,2,2001-01-01 00:08:42,2001-01-01 14:13:51,1,17.680000,2,0,132,68,2,...,1.0,81.800003,2.5,1.25,Queens,40.646984,-73.786530,Manhattan,40.748428,-73.999916
20,2,2001-01-01 00:08:31,2001-01-01 16:01:27,1,18.629999,2,0,132,264,1,...,1.0,98.760002,2.5,1.75,Queens,40.646984,-73.786530,<NA>,NaN,NaN
21,2,2001-01-01 00:07:36,2001-01-01 00:16:31,1,1.680000,1,0,239,43,2,...,1.0,14.700000,2.5,0.00,Manhattan,40.783962,-73.978630,Manhattan,40.782478,-73.965553
22,2,2001-01-01 00:28:40,2001-01-01 01:11:09,1,10.230000,1,0,239,97,2,...,1.0,52.500000,2.5,0.00,Manhattan,40.783962,-73.978630,Brooklyn,40.690788,-73.974884
23,2,2001-01-01 23:39:13,2001-01-02 00:01:22,1,0.560000,1,0,230,163,2,...,0.3,11.800000,0.0,0.00,Manhattan,40.759819,-73.984200,Manhattan,40.764420,-73.977570
24,2,2001-01-06 06:10:12,2001-01-06 21:00:35,1,0.000000,1,0,7,7,2,...,0.3,3.800000,0.0,0.00,Queens,40.761494,-73.919693,Queens,40.761494,-73.919693
25,2,2001-01-01 00:04:13,2001-01-01 00:04:51,1,0.000000,1,0,264,7,2,...,0.3,3.800000,0.0,0.00,<NA>,NaN,NaN,Queens,40.761494,-73.919693
26,2,2001-01-05 11:45:23,2001-01-05 11:52:05,5,1.530000,1,0,71,89,2,...,0.3,8.800000,0.0,0.00,Brooklyn,40.644287,-73.937965,Brooklyn,40.637901,-73.960968

In [ ]:
pprint(sorted_unique_column_sets[1])

('DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'ehail_fee',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'lpep_dropoff_datetime',
 'lpep_pickup_datetime',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance',
 'trip_type')

In [ ]:


PQ_PATH = "data/task1/test1"

df = dd.read_parquet(PQ_PATH)

In [2]:
df.head(10)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,airport_fee,pickup_borough,pickup_latitude,pickup_longitude,dropoff_borough,dropoff_latitude,dropoff_longitude,year
0,1,2012-01-01 00:07:56,2012-01-01 00:12:09,1,0.9,1,0,158,231,2,...,5.90,0.0,0.0,Manhattan,40.735035,-74.008987,Manhattan,40.717773,-74.007881,2012
1,1,2012-01-01 00:18:49,2012-01-01 00:30:01,1,2.3,1,0,231,164,2,...,9.50,0.0,0.0,Manhattan,40.717773,-74.007881,Manhattan,40.748573,-73.985153,2012
2,1,2012-01-01 00:31:38,2012-01-01 00:46:05,1,2.2,1,0,164,148,2,...,10.30,0.0,0.0,Manhattan,40.748573,-73.985153,Manhattan,40.718937,-73.990898,2012
3,1,2012-01-01 00:47:35,2012-01-01 00:55:57,4,0.9,1,0,148,107,2,...,6.30,0.0,0.0,Manhattan,40.718937,-73.990898,Manhattan,40.736824,-73.984055,2012
4,1,2012-01-01 00:57:08,2012-01-01 01:02:42,3,0.7,1,0,107,107,2,...,5.50,0.0,0.0,Manhattan,40.736824,-73.984055,Manhattan,40.736824,-73.984055,2012
5,1,2012-01-01 00:47:10,2012-01-01 01:06:18,1,4.7,1,0,226,239,1,...,17.90,0.0,0.0,Queens,40.737698,-73.924675,Manhattan,40.783962,-73.978630,2012
6,1,2012-01-01 00:16:42,2012-01-01 00:40:14,1,2.3,1,0,234,237,2,...,13.90,0.0,0.0,Manhattan,40.740337,-73.990456,Manhattan,40.768616,-73.965637,2012
7,1,2012-01-01 00:40:46,2012-01-01 01:03:49,1,2.2,1,0,237,68,1,...,15.90,0.0,0.0,Manhattan,40.768616,-73.965637,Manhattan,40.748428,-73.999916,2012
8,1,2012-01-01 00:10:04,2012-01-01 00:20:54,1,2.4,1,0,161,263,1,...,12.87,0.0,0.0,Manhattan,40.758026,-73.977699,Manhattan,40.778767,-73.951012,2012
9,1,2012-01-01 00:28:10,2012-01-01 00:32:50,1,1.4,1,0,237,236,1,...,8.19,0.0,0.0,Manhattan,40.768616,-73.965637,Manhattan,40.780437,-73.957008,2012

In [ ]:
# any nas anywhere
# Show a row with nas
# nas = .head(10)

In [6]:
len(df), len(df[df.isna().any(axis=1)])

(142886367, 4175405)

In [7]:
# Column names that have any nan values
cols_with_nans = df.columns[df.isna().any()].tolist()
cols_with_nans

['pickup_borough',
 'pickup_latitude',
 'pickup_longitude',
 'dropoff_borough',
 'dropoff_latitude',
 'dropoff_longitude']